body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 0.5em;
}

form button {
  color: white;
  background-color: #59A9E9;
}
