body {
  font-family: 'Merriweather', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* .row {
  display: flex;
  flex-direction: row;
  justify-content: left;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 0.5em;
}

.edit-form-btn {
  color: white;
  background-color: #59a9e9;
  width: 60%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* #single-product {
  padding: 0.5em;
  margin: 1em 0.5em;
} */


/* Cart Styles */
.cart {
  padding: 30px;
  margin: 10, 10 auto;
}

.btm-brdr {
  border-bottom: 1px solid black;
}

div.row.btm-brdr {
  margin-left: 180px;
  margin-right: 180px;
}

#current-cart {
  margin-left: 180px;
}

#order-history {
  margin-left: 180px;
}

.summary {
  padding: 20px;
  background: #c2d2df81;
  text-align: center;
}

.cart-card {
  margin: 10px;
  padding: 20px;
  background: #c2d2df2d;
}

#history-card {
  margin-left: 180px;
}


